.title {
    text-align: center;
    color: black;
}

.button-login {
    background-color: black;
    color: white;
    border: 10px;
}

.form-password {
    text-decoration-line: none;
}

.credentialsDiv {
    text-align: center;
}